footer{
    width: 100vw;
    height: 100vh;
    padding-top: 11.7vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #CDD5DD;
    gap: 7.8vh;
    position: relative;
}

#rating{
    display: flex;
    flex-direction: row;    
    gap: 12.5vw;
    z-index: 1;
}

.rating-block{
    display: flex;
    flex-direction: column;  
    justify-content: start;
    align-items: center;
    gap: 3.3vh;
}


/* 

position: relative; - допомагає переміщувати елементи не впливаючи на інші ( переміщує від своїх координати, а не екрану )
Якщо в середині елемента з relative є елемент з absolute він буде переміщуватись відносно нього

*/
.rating-block h3 {
    font-size: 5.17vh;
    color: #0C122A;
}

.rating-block p {
    font-size: 1.9vh;
    color: #0C122A;
}

#elips-footer {
    bottom: 65.3vh;

}

#Big-logo{
    width: 63.5vw;
}

#nav-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 14.6vh;
    width: 97.2vw;
    height: 41.1vh;
    padding-bottom: 2.3vh;
    font-size: 1.8vh;
}

#nav-footer nav{
    display: flex;
    flex-direction: row;
    gap: 1.8vw;
}

#nav-footer nav a{
    color: #0C122A;
}

#license{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.8vh;
}

#license p{
    color: #9EA0AA;
    text-align: center;
}