{%extends "base.html"%}

{%block title%}
Catalog
{%endblock%}

{%block content %}
    {% if admin %}
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="`Назва">
            <input type="number" name="price" placeholder="Ціна">
            <input type="number" name="count" placeholder="Кіл. Товарів">
            <input type="number" name="discount" placeholder="Знижка">
            <textarea name="description" placeholder="Опис"></textarea>
            <input type="file" name="image" accept= "image/*" >
            <button type="submit">Відправити</button>
        </form>
    {% endif %}

    {% for product in products%}
        <h1>{{product.name}} - {{product.price}}$</h1>
        <p>{{product.description}}</p>
        <img src="{{ url_for('shop_app.static', filename = product.get_path() ) }}" alt="" style= "width: 100px">
        {% if admin %}
            <a href="/delete/{{ product.id }}">
                <button>Видалити</button>
            </a>
            <a href="/change/{{product.id}}">
                <button>Змінити</button>
            </a>
        {% endif %}
        <a href="/buy/{{product.id}}"><button>Купити</button></a>
    {% endfor%}

    <div>
        {% if page > 1 %}
            <a href="/catalog?page={{page - 1}} "><button><--</button></a>
        {% endif %}

        <a href="/catalog?page=1 "><button>1</button></a>
        <button>...</button>
        {% for num_page in range(5) %}
            <a href="/catalog?page={{ page + num_page - 2 }} "><button>{{page + num_page - 2}}</button></a>
        {% endfor %}
        <button>...</button>
        <a href="/catalog?page={{last_page}} "><button>{{last_page}}</button></a>
        
        
        {% if page < last_page %}
            <a href="/catalog?page={{page + 1}} "><button>--></button></a>
        {% endif %}
    </div>
{%endblock%}

{%block links %}

{%endblock%}
