.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 22.3vw;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    padding-bottom: 14px;
}

.product:hover{
    background-color: #F4F4F4;
}

.buy-button{
    display: none;
    position: absolute;
    right: 14px;
    bottom: 35px;
    height: 44px;
    width: 44px;
    border: #0C122A 1.5px solid;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.buy-button img{
    height: 16px;
}

.product:hover .buy-button{
    display: flex;
}

.buy-button:hover{
    background-color: #d0d0d0;
}

.product img {
    width: 81%;
}

.product .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.8vh;
    color: #0C122A;
    width: 81%;
}

.product .text h5{
    height: 6.3vh;
    font-size: 2.8vh;
}

.product .text p{
    font-size: 1.6vh;
}

/* 
селектор:hover{} - задає стилі при наведенні на елемент
*/